.body {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.themed-grid-row {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(119, 149, 160, 0.068);
    /* border: 1px solid rgba(86, 61, 124, .2); */
}

.audio-box {
    text-align: center;
}

figure{
    text-align: center;
}